.App {
  text-align: center;
}

form {
  margin: 20px;
}

input {
  padding: 8px;
  font-size: 1em;
}

button {
  padding: 8px;
  background-color: #282c34;
  color: white;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
}

.costume-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.costume-item {
  margin: 10px;
}

.costume-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}